.detales{
    position: relative;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
}
.detales .rescentorder{
    position: relative;
    width: 100%;
    display: grid;
    padding: 20px;
    min-height: 500px;
    box-shadow: 0px 7px 25px rgba(0,0,0,0.08);
    background-color: var(--white);
    border-radius: 20px;
}
.detales .rescentorder .cardheader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.cardheader h2{
    color: var(--blue);
    font-weight: 600;
}
.cardheader a{
    padding: 5px 10px;
    border-radius: 6px;
    background-color: var(--blue);
    color: var(--white);
    text-decoration: none;
}
.detales table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.detales table thead td{
    font-weight: 600;
    padding: 10px;
}
.detales table tr{
    color : var(--black1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.detales table tbody tr:hover{
    color: var(--white);
    background-color: var(--blue);
}
.detales table tbody tr:last-child{
    border-bottom: none;
}
.detales table tbody tr td{
    padding: 10px;
}
.detales table tr td:last-child{
    text-align: end;
}
.detales table tr td:nth-child(2){
    text-align: end;
}
.detales table tr td:nth-child(3){
    text-align: center;
}
.status.deliverd{
    padding: 2px 4px;
    background-color: #8de02c;
    border-radius: 4px;
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
}
.status.comback{
    padding: 2px 4px;
    background-color: #f00;
    border-radius: 4px;
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
}
.status.unstate{
    padding: 2px 4px;
    background-color: #f9ca3f;
    border-radius: 4px;
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
}