@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&family=Satisfy&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 8.5rem;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: #fff;
}
html::-webkit-scrollbar-thumb {
  background-color: #27ae60;
  border-radius: 5rem;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
  background: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
  padding: 2.5rem 1%;
}
header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #130f40;
}
header .logo i {
  color: #27ae60;
  margin-right: 0.5rem;
}
header .navbar a {
  color: #666;
  margin: 0 1rem;
  font-size: 1.7rem;
}
header .navbar a:hover {
  color: #27ae60;
}
header .icons div {
  width: 4.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  background-color: #f7f7f7;
  color: #130f40;
  border-radius: 0.5rem;
  margin-right: 0.3rem;
  cursor: pointer;
  text-align: center;
}
header .icons div:hover {
  color: #fff;
  background: #27ae60;
}

.btn {
  padding: 0.7rem 1.8rem;
  background: #27ae60;
  color: #fff;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  display: inline-block;
  cursor: pointer;
}
.btn:hover {
  background-color: #130f40;
  color: #fff;
}

#menu-btn {
  display: none;
}

section {
  padding: 2rem 9%;
}

.heading {
  text-align: center;
  padding-bottom: 2rem;
}
.heading span {
  font-family: "Satisfy", cursive;
  font-size: 3rem;
  color: #27ae60;
}
.heading h3 {
  font-size: 3rem;
  color: #130f40;
}

.serch-box-contaner {
  display: none;
  position: fixed;
  top: 8.5rem;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  height: calc(100vh - 8.5rem);
  background: #fff;
}
.serch-box-contaner.active {
  display: block;
}
.serch-box-contaner form {
  height: 7rem;
  border-bottom: 0.2rem solid #130f40;
  width: 100%;
  display: flex;
  align-items: center;
  animation: fidup 0.4s linear;
}
.serch-box-contaner form input {
  width: 100%;
  height: 100%;
  font-size: 1.7rem;
  color: #130f40;
  text-transform: none;
  padding-right: 1rem;
}
.serch-box-contaner form label {
  font-size: 3rem;
  color: #130f40;
  cursor: pointer;
}
.serch-box-contaner form label:hover {
  color: #27ae60;
}

@keyframes fidup {
  0% {
    transform: translateY(5rem);
    opacity: 0;
  }
}
.shoping-cart-contaner {
  display: none;
  position: fixed;
  top: 8.5rem;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  height: calc(100vh - 8.5rem);
  background: #fff;
  overflow-y: scroll;
}
.shoping-cart-contaner.active {
  display: block;
}
.shoping-cart-contaner::-webkit-scrollbar {
  width: 1rem;
}
.shoping-cart-contaner::-webkit-scrollbar-track {
  background: #fff;
}
.shoping-cart-contaner::-webkit-scrollbar-thumb {
  background-color: #130f40;
  border-radius: 5rem;
}
.shoping-cart-contaner .title {
  color: #130f40;
  font-size: 2.5rem;
  padding: 1rem;
  border-bottom: 0.2rem solid rgba(0, 0, 0, 0.05);
  text-align: center;
}
.shoping-cart-contaner .producs-contaner {
  border: 0.2rem solid rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  animation: fidup 0.4s linear;
}
.shoping-cart-contaner .producs-contaner .shoping-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  padding: 1.2rem;
}
.shoping-cart-contaner .producs-contaner .shoping-box .box {
  background: #f7f7f7;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
  position: relative;
}
.shoping-cart-contaner .producs-contaner .shoping-box .box .fa-times {
  position: absolute;
  top: 0.7rem;
  right: 1rem;
  font-size: 2rem;
  color: #130f40;
  cursor: pointer;
}
.shoping-cart-contaner .producs-contaner .shoping-box .box .fa-times:hover {
  color: #27ae60;
}
.shoping-cart-contaner .producs-contaner .shoping-box .box img {
  height: 8rem;
}
.shoping-cart-contaner .producs-contaner .shoping-box .box .content h3 {
  font-size: 2rem;
  color: #130f40;
}
.shoping-cart-contaner .producs-contaner .shoping-box .box .content span {
  font-size: 1.5rem;
  color: #666;
}
.shoping-cart-contaner .producs-contaner .shoping-box .box .content span.Price {
  font-size: 1.7rem;
  color: #27ae60;
}
.shoping-cart-contaner .producs-contaner .shoping-box .box .content input {
  width: 8rem;
  padding: 0.5rem 1.2rem;
  margin: 0.7rem 0;
  font-size: 1.5rem;
  color: #130f40;
}
.shoping-cart-contaner .shoping-cart-total {
  width: 100%;
  margin-top: 2rem;
  border: 0.2rem solid rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  animation: fidup 0.4s linear 0.4s backwards;
}
.shoping-cart-contaner .shoping-cart-total .box {
  padding: 1.5rem;
}
.shoping-cart-contaner .shoping-cart-total .box h3 {
  color: #130f40;
  font-size: 2rem;
  padding-bottom: 0.7rem;
}
.shoping-cart-contaner .shoping-cart-total .box h3 span {
  color: #27ae60;
}
.shoping-cart-contaner .shoping-cart-total .box a.btn {
  display: inline-block;
  padding: 0.7rem 1.8rem;
  margin-top: 1rem;
  background-color: #27ae60;
  color: #fff;
  font-size: 1.7rem;
  cursor: pointer;
  border-radius: 0.5rem;
}
.shoping-cart-contaner .shoping-cart-total .box a.btn:hover {
  background-color: #130f40;
}

.login-form-contaner {
  display: none;
  position: fixed;
  top: 8.5rem;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 1000;
  height: calc(100vh - 8.5rem);
}
.login-form-contaner.active {
  display: block;
}
.login-form-contaner form {
  animation: fidup 0.4s linear;
  margin: 0.2rem auto;
  padding: 2rem;
  border: 0.2rem solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
  max-width: 40rem;
  border-radius: 0.5rem;
}
.login-form-contaner form h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  padding-bottom: 1rem;
  color: #130f40;
}
.login-form-contaner form .box {
  margin: 0.7rem 0;
  border-radius: 0.5rem;
  background-color: #f7f7f7;
  width: 100%;
  padding: 1rem 1.2rem;
  border: 0.2rem solid rgba(0, 0, 0, 0.05);
  font-size: 1.6rem;
  color: #130f40;
  text-transform: none;
}
.login-form-contaner form .remember {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.login-form-contaner form .remember label {
  font-size: 1.6rem;
  color: #666;
}
.login-form-contaner form .btn {
  width: 100%;
  text-align: center;
  margin: 1rem 0;
  padding: 1rem 1.2rem;
  background: #27ae60;
  color: #fff;
  font-size: 1.7rem;
}
.login-form-contaner form .btn:hover {
  background-color: #130f40;
}
.login-form-contaner form p {
  padding-top: 1rem;
  font-size: 1.5rem;
  color: #666;
}
.login-form-contaner form p a {
  color: #27ae60;
}
.login-form-contaner form p a:hover {
  color: #130f40;
  text-decoration: none;
}

.home-section-contaner {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 2rem;
  position: relative;
  overflow: hidden;
}
.home-section-contaner .content {
  flex: 1 1 41rem;
}
.home-section-contaner .content span {
  font-size: 2rem;
  color: #27ae60;
}
.home-section-contaner .content h3 {
  font-size: 4rem;
  color: #130f40;
  padding-top: 1rem;
}
.home-section-contaner .content p {
  font-size: 1.4rem;
  color: #666;
  padding: 1rem 0;
  line-height: 2rem;
}
.home-section-contaner .content .btn {
  display: inline-block;
  padding: 0.7rem 1.8rem;
  background-color: #27ae60;
  font-size: 1.7rem;
  color: #fff;
  margin-top: 1rem;
  border-radius: 0.5rem;
}
.home-section-contaner .content .btn:hover {
  background-color: #130f40;
}
.home-section-contaner .image {
  flex: 1 1 41rem;
  margin: 2rem 0;
  pointer-events: none;
}
.home-section-contaner .image .homeimg1 {
  width: 100%;
  margin-top: 5rem;
}
.home-section-contaner .image .homeimg2 {
  position: absolute;
  top: -10rem;
  right: -10rem;
  width: 80vw;
}

.food-category-contaner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.5rem;
  padding-bottom: 5rem;
}
.food-category-contaner .box {
  padding: 2rem;
  background: #f7f7f7;
  border-radius: 0.5rem;
  text-align: center;
}
.food-category-contaner .box:hover {
  background-color: #27ae60;
}
.food-category-contaner .box:hover h3 {
  color: #fff;
}
.food-category-contaner .box img {
  height: 7rem;
}
.food-category-contaner .box h3 {
  font-size: 1.7rem;
  color: #130f40;
}

.aboute-contaner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  grid-area: 2rem;
  padding-bottom: 2rem;
  background: #f7f7f7;
}
.aboute-contaner .image {
  flex: 1 1 40rem;
}
.aboute-contaner .image img {
  width: 100%;
}
.aboute-contaner .content {
  flex: 1 1 40rem;
}
.aboute-contaner .content span {
  font-size: 3rem;
  color: #27ae60;
  font-family: "Satisfy", cursive;
}
.aboute-contaner .content h3 {
  font-size: 3rem;
  padding-top: 0.5rem;
  color: #130f40;
}
.aboute-contaner .content p {
  font-size: 1.4rem;
  padding: 1rem 0;
  color: #666;
  line-height: 2;
}
.aboute-contaner .content .btn {
  padding: 0.7rem 1.8rem;
  background: #27ae60;
  color: #fff;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  display: inline-block;
  cursor: pointer;
}
.aboute-contaner .content .box-contet {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.aboute-contaner .content .box-contet .box {
  padding: 2rem;
  display: flex;
  flex: 1 1 20rem;
  align-items: center;
  background: #fff;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  gap: 1rem;
}
.aboute-contaner .content .box-contet .box h3 {
  font-size: 1.7rem;
  color: #130f40;
}

.popular-contaner .box-contaner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
.popular-contaner .box-contaner .box {
  border-radius: 0.5rem;
  position: relative;
  background: #f7f7f7;
  padding: 2rem;
  text-align: center;
}
.popular-contaner .box-contaner .box .fa-heart {
  position: absolute;
  top: 1.2rem;
  right: 1.5rem;
  font-size: 2.5rem;
  color: #666;
  cursor: pointer;
}
.popular-contaner .box-contaner .box .fa-heart:hover {
  color: #27ae60;
}
.popular-contaner .box-contaner .box .image {
  margin: 1rem 0;
}
.popular-contaner .box-contaner .box .image img {
  height: 15rem;
}
.popular-contaner .box-contaner .box .content h3 {
  font-size: 2rem;
  color: #130f40;
}
.popular-contaner .box-contaner .box .content .stars {
  padding: 1rem 0;
  font-size: 1.7rem;
}
.popular-contaner .box-contaner .box .content .stars i {
  color: gold;
}
.popular-contaner .box-contaner .box .content .stars span {
  color: #666;
}
.popular-contaner .box-contaner .box .content .price {
  font-size: 2rem;
  color: #130f40;
}
.popular-contaner .box-contaner .box .content .price span {
  color: #666;
  font-size: 1.5rem;
  text-decoration: line-through;
}

.banner-contaner .row-banner {
  width: 100%;
  height: 45rem;
  background: url(../image/row-banner.png) no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.banner-contaner .row-banner .content {
  position: absolute;
  left: 7%;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.5rem;
}
.banner-contaner .row-banner .content span {
  font-family: "Satisfy", cursive;
  font-size: 4rem;
  color: #27ae60;
  color: #130f40;
}
.banner-contaner .row-banner .content h3 {
  color: #130f40;
  font-size: 6rem;
  color: red;
  text-transform: uppercase;
}
.banner-contaner .row-banner .content p {
  font-size: 2rem;
  color: #130f40;
  margin-top: 1rem;
}
.banner-contaner .grid-banner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}
.banner-contaner .grid-banner .grid {
  overflow: hidden;
  border-radius: 1rem;
  height: 45rem;
  position: relative;
}
.banner-contaner .grid-banner .grid img {
  width: 100%;
  height: 100%;
}
.banner-contaner .grid-banner .grid .content {
  position: absolute;
  top: 2rem;
  padding: 0 2rem;
}
.banner-contaner .grid-banner .grid .content span {
  font-size: 2.5rem;
  color: #fff;
}
.banner-contaner .grid-banner .grid .content h3 {
  font-size: 3rem;
  color: #fff;
  padding-top: 0.5rem;
}
.banner-contaner .grid-banner .grid .content.center {
  width: 100%;
  text-align: center;
}
.banner-contaner .grid-banner .grid .content.center span {
  font-size: 2.5rem;
  color: #130f40;
}
.banner-contaner .grid-banner .grid .content.center h3 {
  font-size: 3rem;
  color: #130f40;
}

.menu-contaner .box-contaner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  gap: 1.5rem;
}
.menu-contaner .box-contaner .box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f7f7f7;
  border-radius: 0.5rem;
  padding: 2rem;
  gap: 1.5rem;
}
.menu-contaner .box-contaner .box:hover {
  background-color: #130f40;
}
.menu-contaner .box-contaner .box:hover .content h3 {
  color: #fff;
}
.menu-contaner .box-contaner .box img {
  height: 10rem;
}
.menu-contaner .box-contaner .box .content h3 {
  font-size: 2rem;
  padding-bottom: 0.5rem;
  color: #130f40;
}
.menu-contaner .box-contaner .box .content span {
  font-size: 2rem;
  color: #27ae60;
}

.order-contaner .icon-contaner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  margin-bottom: 2rem;
}
.order-contaner .icon-contaner .icon-box {
  text-align: center;
  padding: 2rem;
  background: #f7f7f7;
}
.order-contaner .icon-contaner .icon-box img {
  height: 10rem;
}
.order-contaner .icon-contaner .icon-box h3 {
  font-size: 2rem;
  color: #130f40;
  margin-top: 0.5rem;
}
.order-contaner .order {
  background: #f7f7f7;
  padding: 2rem;
  border-radius: 0.5rem;
}
.order-contaner .order .flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.order-contaner .order .flex .inpubox {
  width: 49%;
  padding: 0.7rem 0;
}
.order-contaner .order .flex span {
  font-size: 1.7rem;
  color: #666;
}
.order-contaner .order .flex input, .order-contaner .order .flex textarea {
  width: 100%;
  padding: 1rem 1.2rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  color: #130f40;
  margin-top: 0.5rem;
  text-transform: none;
}
.order-contaner .order .flex textarea {
  height: 20rem;
  resize: none;
}
.order-contaner .order .flex .map {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.blog-contaner .box-contaner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  gap: 1.5rem;
}
.blog-contaner .box-contaner .box {
  border-radius: 0.5rem;
  overflow: hidden;
}
.blog-contaner .box-contaner .box:hover .image img {
  transform: scale(1.1);
}
.blog-contaner .box-contaner .box:hover .image h3 {
  left: 1.5rem;
}
.blog-contaner .box-contaner .box .image {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 25rem;
}
.blog-contaner .box-contaner .box .image h3 {
  position: absolute;
  top: 1rem;
  left: -100%;
  z-index: 10;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: #fff;
  font-size: 1.5rem;
  color: #130f40;
}
.blog-contaner .box-contaner .box .image h3 i {
  color: #27ae60;
}
.blog-contaner .box-contaner .box .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog-contaner .box-contaner .box .content {
  padding: 2rem 1.5rem;
  background: #f7f7f7;
}
.blog-contaner .box-contaner .box .content .tags {
  padding-bottom: 1rem;
}
.blog-contaner .box-contaner .box .content .tags a {
  font-size: 1.5rem;
  color: #666;
  padding-right: 0.5rem;
}
.blog-contaner .box-contaner .box .content .tags a i {
  color: #27ae60;
}
.blog-contaner .box-contaner .box .content h3 {
  font-size: 2rem;
  color: #130f40;
}
.blog-contaner .box-contaner .box .content p {
  font-size: 1.4rem;
  color: #666;
  line-height: 2;
  padding: 1rem 0;
}

.footer {
  background: #f7f7f7;
}
.footer .newsletter {
  text-align: center;
  margin-bottom: 2rem;
}
.footer .newsletter h3 {
  font-size: 2.5rem;
  color: #130f40;
  padding-bottom: 1rem;
}
.footer .newsletter form {
  max-width: 70rem;
  margin: 1rem auto;
  display: flex;
  overflow: hidden;
  border-radius: 0.5rem;
}
.footer .newsletter form input[type=email] {
  width: 100%;
  height: 100%;
  text-transform: none;
  color: #130f40;
  font-size: 1.6rem;
  padding: 1rem 1.2rem;
}
.footer .newsletter form input[type=submit] {
  padding: 0 2rem;
  color: #fff;
  background: #27ae60;
}
.footer .newsletter form input[type=submit]:hover {
  background-color: #130f40;
}
.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
  gap: 1.5rem;
}
.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #130f40;
  padding: 1rem 0;
}
.footer .box-container .box a, .footer .box-container .box p {
  display: block;
  font-size: 1.4rem;
  color: #666;
  padding: 1rem 0;
}
.footer .box-container .box a i, .footer .box-container .box p i {
  padding-right: 0.5rem;
  color: #27ae60;
}
.footer .box-container .box a:hover, .footer .box-container .box p:hover {
  color: #27ae60;
}
.footer .box-container .box a:hover i, .footer .box-container .box p:hover i {
  padding-right: 2rem;
}
.footer .bottom {
  padding-top: 2rem;
  text-align: center;
}
.footer .bottom .share-box i {
  height: 4.5rem;
  width: 4.5rem;
  background-color: #27ae60;
  color: #fff;
  line-height: 4.5rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  margin: 0 0.3rem;
}
.footer .bottom .share-box i:hover {
  background-color: #130f40;
}
.footer .cridit {
  font-size: 2rem;
  color: #666;
  padding: 1.5rem;
}
.footer .cridit span {
  color: #27ae60;
}

@media screen and (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }
}
@media screen and (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 0.2rem solid rgba(0, 0, 0, 0.05);
    border-bottom: 0.2rem solid rgba(0, 0, 0, 0.05);
    z-index: 1000;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .header .navbar a {
    font-size: 2rem;
    margin: 2rem;
    display: block;
  }

  .home-section-contaner .image .homeimg2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 130%;
  }

  .order-contaner .order .flex .inpubox {
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .shoping-cart-contaner .shoping-cart-total .box {
    text-align: center;
  }
  .shoping-cart-contaner .shoping-cart-total .box .btn {
    width: 100%;
  }

  .home-section-contaner .content h3 {
    font-size: 3rem;
  }
  .home-section-contaner .content p {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
